/* App.css */
#root {
  width: 100%; /* Ensure root container width is 100% */
  height: 100vh; /* Make the root fill the viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  object-fit: cover;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #2f36bbaa);
}
.tableHead {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  font-size: 16;
}
